<html>
    <head>
    </head>
    <body>
          
        <h1><a href="travels">Home</a></h1>
        <h1><a href="/">Logout</a></h1>
    

        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if trips %}
    <h1>{{trips.destination}}</h1>
    <h3>Planned By: {{trips.user.first_name}}</h3>
    <h3>Travel Date From: {{trips.start_date}}</h3>
    <h3>Travel Date To: {{trips.end_date}}</h3><br>
    {% endif %}

    <h1>Everyone in the trip:</h1>
        {% for other in group %}
     <h3>{{other.first_name}} {{other.last_name}}</h3>
     {% endfor %}

  </body>
</html>

    </body>
</html>